.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.centerform {
    padding: 300px 0;
    text-align: center;
}

#input {
    border-radius: 25px;
}

#bluebutton {
background-color: blue; 
color: white;
}
