.vertical-center {
    margin: 0;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.centerform {
    text-align: center;
}

.paddown {
    padding-top: 200px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.greybutton {
    background-color: rgb(240, 240, 240);
    border: none;
}


#input {
    border-radius: 25px;
}

#bluebutton {
background-color: blue; 
color: white;
}

